<html>
<head>
  <title>VegoTV</title>
  <meta name=“viewport” content=“width=device-width; initial-scale=1.0”>
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="app.min.js"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
